.puntero{
	background-color: #0069D9;
	text-align: center;
	color: white;
	font-size: 17px;
}
.editarTexto{
	font-family: 'Roboto', sans-serif;
	color: #0069D9 !important;
}
.votosTotales{
	background-color: #B2ACAC;
}
.voto{
	font-size: 25px;
	padding-left: 15px;
}
.punteroVotante{
	border:1px solid #E61A1A;
	width: 70%;
}
.votoPuntero{
	font-size: 17px;
	padding-left: 14px;
}
.select2-container .select2-selection--single {
	height: 41px !important;
	text-align: center;
	width: 235px;
	padding-top: 10px;
}
.cajaSuperior{
	width: 100% ;
	display: flex;
	flex-wrap: wrap;
}
.odd td:nth-child(-n+3){
	background-color: #0069D9;
	text-align: center;
	color: white;
	font-size: 17px;
}

.veedor_voto{
	background-color: green;
	color: white;
}
.veedor_no_voto{
	background-color: red;
	color: white;
}

